
@import url(https://fonts.google.com/specimen/Roboto#standard-styles);


/*Adding these properties to the whole page to get every element aligned properly*/

body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto', sans-serif; 
}

/*Created header, making sure alignment is correct and styling appropriately*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1;
}

.logo {
    display: flex;
    font-size: 24px;
}

ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    padding: 0;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/*Styled hero section and added image*/

.hero-container {
    display: flex;
    padding: 64px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    gap: 128px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #e5e7eb;
    font-size: 18px;    
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p {
    margin: 8px 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    width: 150px;
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 8px 0;
}

.img-container {
    display: flex;
}

.img-container > img{
    width: 500px;
    max-height: auto;
}